
main{
    margin-top: 50px;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.devicons{
    font-size: 7em;
}
.devicons-wordpress{
    color: #0073AA;
}
.devicons-javascript_badge{
    color: #F7DF1E;
}
.devicons-css3{
    color: #2965F1;
}