
main{
    margin-top: 50px;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.devicons{
    font-size: 7em;
}
.devicons-wordpress{
    color: #0073AA;
}
.devicons-javascript_badge{
    color: #F7DF1E;
}
.devicons-css3{
    color: #2965F1;
}
#contact-page main{
    height: 90vh;
    padding: 5em;
}
#contact-page .card{
    border: none;
}
#contact-page .fab{
    font-size: 3em;
    padding: 1rem;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-facebook{
    color: #4267B2;
}
.fa-github{
    color: #24292E;
}